*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
 
 
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
 
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
 
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
 
*.zstandard filter=lfs diff=lfs merge=lfs -text
*.tfevents* filter=lfs diff=lfs merge=lfs -text
*.db* filter=lfs diff=lfs merge=lfs -text
*.ark* filter=lfs diff=lfs merge=lfs -text
**/*ckpt*data* filter=lfs diff=lfs merge=lfs -text
**/*ckpt*.meta filter=lfs diff=lfs merge=lfs -text
**/*ckpt*.index filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
 
 
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
 
*.webp filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.wma filter=lfs diff=lfs merge=lfs -text
*.aac filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.m3u8 filter=lfs diff=lfs merge=lfs -text
*.amr filter=lfs diff=lfs merge=lfs -text
*.audio filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.asf filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.3gp filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.rmvb filter=lfs diff=lfs merge=lfs -text
 
*.ts filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.flash filter=lfs diff=lfs merge=lfs -text
*.vob filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ost filter=lfs diff=lfs merge=lfs -text
*.pst filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.vsd filter=lfs diff=lfs merge=lfs -text
*.vsdx filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
dataset_infos.json ignore
*.csv filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text

envs/curobo/images/rrt_compare.gif filter=lfs diff=lfs merge=lfs -text
envs/curobo/images/robot_demo.gif filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link0.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link0.obj filter=lfs diff=lfs merge=lfs -text

envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link5.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link3.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link4.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link6.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_3.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link5.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_2.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/collision/link_6.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/collision/link_7.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_0.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/franka_description/meshes/visual/link6.dae filter=lfs diff=lfs merge=lfs -text

envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_4.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/jaco/meshes/base.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_5.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_6.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/iiwa_allegro_description/meshes/iiwa7/visual/link_7.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/jaco/meshes/hand_2finger.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/kinova/kortex_description/grippers/robotiq_2f_140/meshes/visual/robotiq_arg2f_base_link.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/kinova/kortex_description/grippers/robotiq_2f_85/meshes/visual/robotiq_arg2f_85_base_link.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/jaco/meshes/hand_3finger.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/kinova/kortex_description/arms/gen3/7dof/meshes/bracelet_no_vision_link.STL filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/kinova/kortex_description/arms/gen3/7dof/meshes/bracelet_with_vision_link.STL filter=lfs diff=lfs merge=lfs -text

envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tm5-900_arm1.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur10e/visual/forearm.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm12/visual/tmr_750w_01.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tm5-900_arm2.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tm5-900_arm1.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tm5-900_arm2.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm12/visual/tmr_750w_01.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_100w_02.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_100w_01.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tm5-base.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_400w_01.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_100w_02.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_100w_01.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_ee.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_400w_01.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_ee.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm12/visual/tm12-arm1.stl filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm5-900/visual/tmr_iox.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm12/visual/tm12-arm1.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur10e/visual/shoulder.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm12/visual/tm12-arm2.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/techman/tm_description/meshes/tm12/visual/tm12-base.obj filter=lfs diff=lfs merge=lfs -text

envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur10e/visual/wrist1.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur5e/visual/wrist2.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur10e/visual/upperarm.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur5e/visual/upperarm.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/scene/nvblox/srl_ur10_bins.obj filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur5e/visual/wrist1.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/scene/nvblox/srl_ur10_bins_color.png filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/scene/nvblox/srl_ur10_bins.zip filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur10e/visual/wrist2.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur5e/visual/forearm.dae filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/content/assets/robot/ur_description/meshes/ur5e/visual/shoulder.dae filter=lfs diff=lfs merge=lfs -text

envs/curobo/src/curobo/curobolib/geom_cu.cpython-310-x86_64-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
envs/curobo/src/curobo/curobolib/lbfgs_step_cu.cpython-310-x86_64-linux-gnu.so filter=lfs diff=lfs merge=lfs -text

assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/back_link7.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/Image_442.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/base_link.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/Image_290.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/d435_back.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/base_link.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/Image_0.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/box2_Link.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/right_cam_link.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/d435.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/tracer_base_link.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/d435.dae.backup filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/tracer_base_link_no_wheel.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/link2.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/BrushedAluminum_BaseColor.jpg filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/Image_0.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/link3.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/box2_Link.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/Image_100.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/Image_290.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/meshes/box2_Link.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/Image_269.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/camera_link1.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/camera_link1.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/Image_442.png filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/back_link7.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/camera_link2.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/box2_Link.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/camera_link2.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/d435.dae filter=lfs diff=lfs merge=lfs -text

assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/right_cam_link.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/d435_back1.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/link2.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/link3.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/tracer_base_link.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/link2.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/link3.STL filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/tracer_base_link_no_wheel.dae filter=lfs diff=lfs merge=lfs -text
assets/embodiments/aloha-agilex/urdf/aloha_maniskill_sim/meshes/tracer_base_link.dae filter=lfs diff=lfs merge=lfs -text
assets/objects/001_plasticbox/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/001_plasticbox/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base2.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/002_breadbasket/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base3.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/002_breadbasket/visual/base1.glb filter=lfs diff=lfs merge=lfs -text

assets/objects/004_numbercard/visual/base8.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base9.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/011_stapler/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base5.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/007_T_block/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/007_T_block/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base4.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base6.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/004_numbercard/visual/base7.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/008_shelf/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/009_toycar/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/009_toycar/visual/base4.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/009_toycar/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/009_toycar/visual/base5.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/010_mouse/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/009_toycar/visual/base2.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/009_toycar/visual/base3.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/010_mouse/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/010_mouse/visual/base2.glb filter=lfs diff=lfs merge=lfs -text

assets/objects/011_stapler/visual/base2.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/011_stapler/visual/base5.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/011_stapler/visual/base4.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/011_stapler/visual/base6.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/012_bell/collision/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/011_stapler/visual/base3.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/011_stapler/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/012_bell/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/012_bell/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/013_playingcards/visual/base1.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/013_playingcards/visual/base0.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/013_playingcards/visual/base2.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/014_box/100129/images/texture_0.jpg filter=lfs diff=lfs merge=lfs -text